<div class="todo-container">
  <mat-form-field appearance="fill">
    <mat-label>Add new todo</mat-label>
    <input matInput [(ngModel)]="newTodoTitle" placeholder="Enter a task">
  </mat-form-field>
  <button mat-raised-button color="primary" class="add-todo-button" (click)="addTodo()">Add</button>
  <button mat-raised-button color="warn" (click)="deleteAllCompleted()"
          *ngIf="hasCompletedTodos$ | async">Delete All Completed
  </button>

  <mat-list-item *ngFor="let todo of todos$ | async">
    <mat-checkbox [checked]="todo.completed" (change)="toggleCompletion(todo)"></mat-checkbox>

    <span *ngIf="!todo.editing" (click)="editTodo(todo)" class="todo-title"
          [ngClass]="{'todo-completed': todo.completed}">
    {{ todo.title }}
  </span>
    <input *ngIf="todo.editing" [value]="todo.title" (blur)="updateTodoTitle(todo, $any($event.target ).value)"
           (keyup.enter)="updateTodoTitle(todo, $any($event.target).value)">

    <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)">
      <mat-icon>delete</mat-icon>
    </button>
  </mat-list-item>
</div>
